* {
  margin: 0;
  padding: 0;
}

/* Seu código css aqui */
 article {
  width: 680px;
  margin: 20px auto;
  font-size: 24px;
}

 h1 {
font:'Lora' , sans-serif;
font-size:48px;
margin: 40px auto 0px auto;
color: #191919;
}

 h2 {
font:24px 'Lora' , sans-serif;
margin: 20px auto 50px auto;
color: #757575;
}

  p {
    line-height: 32px;
    color: #191919;
    margin: 10px auto;
  }
 h3 {
  font-size: bold 48px;
  margin: 40px auto
}

a {
  color:#191919;
}

figcaption {
 color: #757575; 
 font:16px 'Lora' , sans-serif;
 text-align: center;
 margin: 10px 0 40px 0;

}

figcaption a {
  color: #757575
}